{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "jsxSingleQuote": true,
  "parser": "typescript"
}
